/* HEADER header */

body {
  font-family: sans-serif;
  background-color: #e9edee;
}
/* HEADER */
header {
  background-color: #222f3f;
}
header img {
  width: 10rem;
  padding: 0.5rem 1.3rem;
}
header .headerlink {
  padding: 0.5rem 0;
  background-color: #364759;
}

header .headerlink p a {
  color: white;
  padding: 1rem;
  font-family: sans-serif;
  text-decoration: none;
}
/* MAIN */

/* TITOLI */

.title1 {
  background-color: #f56600;
  text-align: center;
  color: white;
  margin: 2rem 1rem;
  padding: 1rem;
}

.title2 {
  background-image: url("../Amazon Page/assets/images/bg-image.png");
  background-size: cover;
  margin: 1.9rem 1rem;
  padding: 3rem;
  text-align: center;
  line-height: 2.6rem;
  color: white;
}

.title2 h3 {
  font-size: 1.5rem;
  font-weight: bolder;
}
.title p {
  font-weight: bold;
}
/* IMMAGINI */
.div-immages {
  display: inline-block;
  margin: 1rem;
  background-color: white;

  white-space: nowrap;
}
.images {
  border-radius: 1rem;
  margin: 0.5rem;
  height: 380px;
  width: 23.8%;
  object-fit: cover;
  box-shadow: 1px -1px 6px 1px black;
}
.div-immages p,
.bigimg p {
  padding: 1rem;
}
.div-immages p a,
.bigimg p a {
  color: #146069;
  text-decoration: none;
  margin-left: 0.5rem;
  font-weight: bold;
  font-size: small;
}

.bigimg {
  margin: 1rem;
  text-align: center;
}
.bigimg img {
  object-fit: cover;
  width: 100%;
}

/* FOOTER */
.backtotop {
  text-align: center;
  background-color: #364759;
  padding: 1rem;
}
.backtotop p a {
  color: white;
}

footer {
  text-align: center;
  background-color: #222f3f;
  padding: 3rem;
}
footer img {
  width: 13rem;
}
